body{
    background-color: darkred;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
  }
  
  li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: darkred;
  }
 
