
body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
  }
  
  li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
  }

.slide {
  background-image: url(img/slider.png);
  animation: slider 20s alternate infinite;
  height: 671px;
}

  @keyframes slider {
    from {
      background-position: center left;
    }    

    to {
      background-position: center right;
    }
  }

  .texto{
    color: white;
  }


  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body, .footer-widgets .column, .site-info{font-family:"Mulish";}
@media screen and (min-width: 769px){body, .footer-widgets .column, .site-info{font-size:16px;}.navbar-brand-wpz h1 a{font-size:48px;}}
@media screen and (max-width: 768px){body, .footer-widgets .column, .site-info{font-size:16px;}.navbar-brand-wpz h1 a{font-size:40px;}}
@media screen and (max-width: 480px){body, .footer-widgets .column, .site-info{font-size:16px;}.navbar-brand-wpz h1 a{font-size:28px;}}

.has-text-align-justify{text-align:justify;}

.texto{
  color:black
}


