.texto-verde{
    color: green;
}
.texto-vermelho{
    color: red;
}
.texto-azul{
    color: blue;
}

body {
    background-color: grey;
}

.textoazul{
    color: blue;
}

img {
    max-width: 150%;
    height: auto;    
    border-width: 4px;
    border-style: solid;
    border-color: darkslategrey;
    margin-right: 50px;
}