.texto-verde{
    color: green;
}
.texto-vermelho{
    color: red;
}
.texto-azul{
    color: blue;
}

body {
    background-color: white;
}

.textoazul{
    color: blue;
}



.lorem{
    color: lightyellow;
}

.texto-lorem{
    color: lightsteelblue
}